html {
  box-sizing: border-box;
  font-size: 16px;
  color: #144552;
  background-color: #f0efeb;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.col-md-4 {
  padding: 8px;
  grid-gap: 16px;
}
.row {
  justify-content: center;
}
.row::after {
  display: block;
  clear: both;
  content: "";
}
body {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.5em;
  background-color: #f0efeb;
}
#conditionsMain{
  padding: 0 2em;
}
h1,
h2,
h3 {
  color: #144552;
  line-height: 1.75rem;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  line-height: 1.05em;
}
h3 {
  font-weight: 500;
}
button {
  padding: 5px;
}
header {
  background-color: #f0efeb;
  border-bottom: 3px #144552 solid;
}
#headerLogo-img {
  width: 75px;
}
#headerLogo-img,
#headerLogo-txt {
  display: inline-flex;
}
a.navbar-brand {
  font-size: 2em;
  padding-right: 0.75em;
  padding-left: 15px;
  border-right: 1px solid #494949;
}
li.nav-item {
  border-radius: 3px;
}
.nav-link:hover {
  background-color: #144552;
  color: #f0efeb !important;
  border-radius: 3px;
}
.banner-section {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  min-height: 400px;
  display: block;
  position: relative;
  justify-content: center;
}
#banner-about {
  background-image: url("../assets/banner-about.jpg");
  justify-content: center;
}
#banner-symptoms {
  background-image: url(../assets/banner-symptoms.jpg);
}
#banner-contact {
  background-image: url(../assets/banner-symptoms.jpg);
}
.innerText-container {
  width: 40%;
  height: auto;
  background-color: rgba(235, 235, 235, 0.8);
  padding: 0.3px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #144552;
}
#innerText-tutorial, #innerText-contact {
  margin: 0 auto;
  margin-top: 6%;
  border-radius: 3px;
}
#innerText-symptoms {
  width: auto;
  border-radius: 3px;
  float: right;
  margin-left: 0;
  margin-right: 5%;
  padding: 1em;
}
#innerText-contact {
  width: auto;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
}
.innerText-header {
  margin-top: 1rem;
}
.innerText-item {
  display: flex;
  justify-content: center;
}
.linkContact {
  margin: 1em auto;
  width: 40%;
  height: auto;
  padding: 5px;
  border: 1px solid #144552;
  border-radius: 3px;
  color: #494949;
  background-color: #f0efeb;
  font-size: 1.02rem;
  letter-spacing: 2px;
  text-align: center;
}
.linkContact:hover {
  background-color: rgba(235, 235, 235, 0.5);
  border-color: black;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.linkContact a{
  color: #494949;
  text-decoration: none;
}
#tutorial-3 {
  margin: 20px 0;
}
.tutorial-col {
  padding: 4px;
}
.tutorial-icon {
  width: 50px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.button-link {
  margin: 5px;
  border: 1px solid #144552;
  color: #494949;
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
}
.button-link:hover{
  background-color: #494949;
  color: #f0efeb;
}
.section-container {
  padding: 8% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h2.section-header {
  margin-bottom: 0.5em;
}
.callout {
  display: flex;
  justify-content: center;
  line-height: 3rem;
  font-size: 3em;
  color: Tomato;
  margin-bottom: 0.25em;
}
#condContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cond-col {
  padding: 20px 10px;
  border: 1px solid #144552;
}
.cond-col-imgContainer{
  width: 100%;
  height: auto;
  border-radius: 3px;
  margin-bottom: 1em;
}
.cond-col img{
  width: 100%;
  height: auto;
  border-radius: 3px;
  border: 1px solid #144552;
}
.condText-container {
 display: flex;
 flex-direction: column;
 height: 350px;
 justify-content: center;
 justify-content: space-evenly;
}
.condText-item {
 display: flex;
}
#contactMain {
background-image: url(../assets/pexels-matteo-basile-9457036.jpg);
}
#contactMain h2 {
  font-size: 1.5em;
}
input[type=text], [type=email] {
  width: 250px;
  padding: 4px;
  margin: 8px 0;
  box-sizing: border-box;
}
.form-symptoms-container {
  margin: 1.5em 0;
}
textarea {
  width: 250px;
  padding: 4px;
  margin: 8px 0;
  box-sizing: border-box;
}
.footer-column-container {
  width: 100%;
  background-color: #144552;
  color: #f0efeb;
  padding: 10px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-column-container h3 {
  color: #f0efeb;
  margin-bottom: 0;
}

.footer-column {
  border: 1px solid #f0efeb;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  padding: 15px;
  line-height: .75em;
}
.footer-column-links {
  margin: 0;
  padding: 0;
  list-style:none;
  display: flex;
  justify-content: space-evenly;
}
.footer-link-item {
  display: flex;
}
.footer-link {
  color: #f0efeb;
  padding: 5px;
  text-decoration: none;
  letter-spacing: .1rem;
}
.footer-link:hover  {
  color: #999;
  text-decoration: underline;
}
@media only screen and (max-width: 992px) {
  a.navbar-brand {
    border-right: none;
    margin: 0 auto;
  }
  #headerLogo-img,
  #headerLogo-txt {
    align-items: center;
  }
  .innerText-container {
    box-shadow: 2px 2px 2px 0px #494949;
  }
  #innerText-tutorial {
    width: 100%;
    margin: 0;
  }
  .innerText,
  .btnSymptom {
    margin: 0 auto;
    text-align: center;
    border-radius: 0%;
    width: 100%;
  }
  .btnSymptom {
    border-bottom: 1px solid #144552;
    border-top: 1px solid #144552;
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 768px) {
  #tutorial-3 {
    flex-direction: column;
  }
  .footer-column-container {
    flex-direction: column;
  }
}
